.hello{
    display: flex;
    justify-content: space-around;
    width:50%;
}
.hello div{
    background-color: aqua;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0, 1.37, 1, 1);
    border-radius: 50px;
}
.hello div:hover{
    transform: scale(1.2);
}
*{
    background-color: black;
}